Django>=5.1
djangorestframework>=3.14.0
djangorestframework-simplejwt>=5.3.1
django-cors-headers>=4.3.1
django-filter>=23.5
django-import-export>=3.3.6
drf-yasg>=1.21.7
psycopg2-binary>=2.9.9
whitenoise>=6.6.0 